@(user: String, notifications: List[model.Notification])
@layout() {
    <h1>Notifications for @user</h1>
    <table>
        <thead>
            <tr>
                <th>Received</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @for(notification <- notifications) {
            <tr>
                <td>10/10/2011 10:15am</td>
                <td>@notification.message</td>
            </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript">
        window.user = "@user";
    </script>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/dataUpdaterer.js")"></script>
}
