@(user: String, notifications: List[model.Notification])
@layout() {
    <h1>Notifications for @user</h1>
    <table>
        <thead>
            <tr>
                <th>Received</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
          @for(notification <- notifications) {
             
            <tr>
                <td>mapping@notification.creation</td>
                <td>@notification.message</td>
                
            </tr>
            }
        </tbody>
    </table>
    
    }
