
@layout() {
    <h2>Send a notification to a user</h2>
    <form class="rui-form" id="form">
        <fieldset>
           <label class="rui-form-element"><span>Email:</span> <input name="email" class="rui-input" placeholder="Email"/></label>
           <label class="rui-form-element"><span>Message:</span> <input name="message" class="rui-input" placeholder="Message"/></label>
           <label class="rui-form-element"><span>Url:</span> <input name="url" class="rui-input" placeholder="Url"/></label>
           <label class="rui-form-element"><span>Body:</span> <textarea name="body" class="rui-input" placeholder="Body"></textarea></label>
        </fieldset>

        <input type="submit"class="rui-button-brand"/>

    </form>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/formSubmitter.js")"></script>
}
