
@layout() {
    <form class="rui-form" id="topicForm">
        <fieldset>
           <label class="rui-form-element"><span>Message Type:</span> <input name="messageType" value="testAlert" class="rui-input" placeholder="Message Type"/></label>
           <label class="rui-form-element"><span>Message:</span> <input name="message" value="New Property" class="rui-input" placeholder="Message"/></label>
           <label class="rui-form-element"><span>Url:</span> <input name="url" value="http://www.realestate.com.au/property-apartment-nsw-wollongong-108903021" class="rui-input" placeholder="Url"/></label>
           <label class="rui-form-element"><span>Body:</span> <textarea name="body" class="rui-input" placeholder="Body">A new Property has arrived!</textarea></label>
        </fieldset>

        <input type="submit"class="rui-button-brand"/>

    </form>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/formSubmitter.js")"></script>
}
