table {
    width:90%;
    border-top:1px solid #e5eff8;
    border-right:1px solid #e5eff8;
    margin:1em auto;
    border-collapse:collapse;
}
tr.odd td	{
    background:#f7fbff
}
tr.odd .column1	{
    background:#f4f9fe;
}
.column1	{
    background:#f9fcfe;
}
td {
    border-bottom:1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
    text-align:center;
}
th {
    font-weight:normal;
    text-align:left;
    border-bottom: 1px solid #e5eff8;
    border-left:1px solid #e5eff8;
    padding:.3em 1em;
}
thead th {
    background:#aaa;
    text-align:center;
    font:bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
}
tfoot th {
    text-align:center;
    background:#888;
}
tfoot th strong {
    font:bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    margin:.5em .5em .5em 0;
}
tfoot th em {
    font-weight: bold;
    font-size: 1.1em;
    font-style: normal;
}